div.upload-tab.ftp table {
    padding: 0 16px 16px 16px;
    width: 100%;
    overflow-y: overlay;
    max-height: 400px;
    table-layout: auto;
    display: inline-block;
    margin-top: 16px;
}

div.upload-tab.ftp table tr td {
    padding: 12px;
    text-align: left;
    font-variant-numeric: tabular-nums;
}

div.upload-tab.ftp table tr td.file-name {
    overflow: hidden;
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.upload-tab.ftp table tr td img {
    width: 20px;
    height: 20px;
    display: block;
}

div.upload-tab.ftp div.modal-header {
    justify-content: flex-start;
}

div.upload-tab.ftp div.modal-header img.svg {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}